#확장자
*.env
*.pyc
logs/**/*.txt

#폴더
.vscode/
.vs/
.__pycache__
#.logs/

#파일
user_data.json
temp_user_data.json
config.json
temp_config.json
covid19_data.json
test.py
__pycache__/get_covid19_data.cpython-38.pyc
__pycache__/get_covid19_data.cpython-38.pyc
__pycache__/get_covid19_data.cpython-38.pyc
